html, body{
    background-color: #f1f1f1;
}
.card{
    border: .1rem solid #ebebeb;
}
.card .card-body{
    padding: 50px 60px;
}
.table .thead-light th,
.table .thead-light td,
.table tbody td{
    padding: 15px 25px !important;
}

nav .pagination{
    justify-content: center;
}